@keyframes slidein {
    from {
    margin-left: 0%;
    }

    to {
    margin-left:100%;
    }
}

@keyframes fade {
    from {
        background: black;
        color: white;
    }

    to {
        background-color: white;
        color: black;
    }
}