.btn{
    background: black;
    border: white 1px solid;
    color: white;
    height: 30px;
    width: 100px;
}
.btn:hover{
    background-color: white;
    border: black 1px solid;
    color: black;
    height: 30px;
    width: 120px;
    animation: fade 1s linear;
}
.btnB{
    background-color : white;
    border: black 1p solid;
    color: black;
    height: 30px;
    width: 100px;
}
.btnB:hover{
    background-color: black;
    border: white 1p solid;
    color: white;
    height: 130px;
    width: 150px;
}
.bouncing{
    animation: slidein 1s infinite alternate;
}
.bouncing--faster{
    animation: slidein 1s ease-in-out infinite alternate;
}
.bouncing--fading{
    animation-name: slidein ,fade;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.circle{
    border: solid 1px black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
}
.container{
    display: flex;
    flex-direction: column;
}
.example{
    display: block;
    width: 100%;
}
.example-area{
    border: black 1px solid;
    width: 300px;
    height: 90px;
    display: inline-block;
    padding:20px 0;
    overflow: hidden;
}
.fade-by-steps:hover{
    animation: stepfade 1s ease-in 1;
}
.grow{
    transition:width 2s, height 1s ease-in, background 1s;
}
.glow{
    transition:width 2s, background-color 1s;
}